
:root.theme-light {
  --background-color: #f5efff;
  --background-image: url('../images/cover-image-light.png');

  --accent-color: #ff8dcb;
  --title-color: #ff0070;
  --text-color: #353535;

  --link-color: #353535;
  --link-shadow: 2px 2px 0 var(--accent-color);

  --button-text-color: #353535;
  --button-border-color: #353535;
  --button-hover-border-color: rgba(53, 53, 53, 0.5);

  --title-decor-bg: var(--accent-color);
  --title-decor-color: #353535;

  --section-title-color: #ff0070;
  --card-title-color: #353535;
  --card-title-normal-weight-color: #353535;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f5efff;
    --background-image: url('../images/cover-image-light.png');

    --accent-color: #ff8dcb;
    --title-color: #ff0070;
    --text-color: #353535;

    --link-color: #353535;
    --link-shadow: 2px 2px 0 var(--accent-color);

    --button-text-color: #353535;
    --button-border-color: #353535;
    --button-hover-border-color: rgba(53, 53, 53, 0.5);

    --title-decor-bg: var(--accent-color);
    --title-decor-color: #353535;

    --section-title-color: #ff0070;
    --card-title-color: #353535;
    --card-title-normal-weight-color: #353535;
  }
}
