
.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-end: 20px;
  inset-inline-start: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--button-border-color);
  border-block-end: 1px solid var(--button-border-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--button-border-color);
  border-block-start: 1px solid var(--button-border-color);
}

.header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
  min-block-size: 668px;
  block-size: 100vh;
}

.header__rec {
  display: none;
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 49px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.389;
}

.header__rec::after {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: -20px;
  transform: translateY(-50%);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

:root.theme-dark .header__rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) .header__rec {
    display: block;
  }
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px 13px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 1.389;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__title {
  grid-row: 2;
  color: var(--title-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: start;
}

.header__description {
  grid-row: 3;
  justify-self: end;
  align-self: end;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}


.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.content {
  padding: 40px 10px;
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  color: var(--section-title-color);
}

.section__subtitle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.card__title_weight_normal {
  font-weight: normal;
}

.card__text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: var(--link-shadow);
}

.link:hover {
  border-block-end: 1px solid var(--link-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--link-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (768px <= width <= 1023px) {

  .header {
    padding: 20px;

    grid-template-rows: auto 1fr auto;
  }

  .header__theme-menu {
    padding-block-start: 36px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    max-inline-size: 364px;
  }

  .content {
    padding: 60px 20px;
    gap: 80px;
  }

  .section_type_reasons {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .section_type_reasons .section__title {
    grid-column: 1;
    grid-row: 1;
  }

  .section_type_reasons .section__cards {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    gap: 20px;
  }

  .section_type_factors {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
  }

  .section_type_factors .section__title {
    grid-column: 1 / -1;
  }

  .section_type_tips {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .section_type_tips .section__heading {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .section_type_tips .section__subtitle {
    grid-column: 1;
    grid-row: 2;
  }

  .section_type_tips .section__cards {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .gallery__image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}


@media (width >= 1024px) {


  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    max-inline-size: 491px;
  }

  .content {
    padding: 80px 20px;
    gap: 100px;
  }

  .section_type_reasons {
    grid-template-columns: 1fr 2.06fr;
    gap: 20px;
    align-items: start;
  }

  .section_type_reasons .section__title {
    grid-column: 1;
    grid-row: 1;
    max-inline-size: 315px;
  }

  .section_type_reasons .section__cards {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    gap: 20px;
  }

  .section_type_factors {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
  }

  .section_type_factors .section__title {
    grid-column: 1 / -1;
  }

  .section_type_tips {
    grid-template-columns: 1fr 2.06fr;
    gap: 20px;
    align-items: start;
  }

  .section_type_tips .section__heading {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .section_type_tips .section__subtitle {
    grid-column: 1;
    grid-row: 2;
  }

  .section_type_tips .section__cards {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .gallery__image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
